body {
  background: rgba(34,34, 34);
}

.calc {
width: 320px;
margin: 100px auto;
}

#answer{
  background-color: #000000;
  padding: 10px;
  font-size: 35px;
  width: 295px;
  height: 46px;
  text-align: right;
  border: 1px solid #eee;
  color: #eee;
}

.button::placeholder{
color: #eee;
}

.button {
  background-color: #000000;
 height: 80px;
 width: 80px;
 color: white;
 font-size: 30px;
 border: 1px solid #eee;
 float: left;
 cursor: pointer;
}

.button1 {
  width: 160px;
  background-color: gray;
  height: 88px;
  color: #eee;
  font-size: 30px;
  border: 1px solid #eee;
}

